.input-form {
    padding:       20px;
    border-radius: var(--border-radius);
    border:        none;
    outline: 1px solid var(--color-grey-6);
    transition: all ease 0.5s;
}

.input-form:focus {
    outline: 1px solid var(--color-primary);
    transition: all ease 0.5s;
}

.input-icon {
    position: relative;
}

.icon {
    width:    16px;
    fill:     var(--color-grey-3);
    position: absolute;
    top:      20px;
    right:    20px;
}